@import '../../styles/settings.scss';

.formContainer {
  // max-width: 400px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.button {
  padding: 7px;
  border-radius: 10px;
  width: 200px;
  &:hover {
    background-color: $color-success;
  }
}
.searchResult {
  margin-top: 50px;
 
}
.propertiesLink {
  display: block;
  text-decoration: none;
  color: $color-light;
}
.select {
  width: 200px;
  padding: 7px;
  border-radius: 10px;
}